{% extends 'base.html' %} {% block navbar %}
<li class="active">
   <a href={{ url_for('index') }}>
   <i class="material-icons left">home</i>Mulai Prediksi</a>
</li>
{% endblock %} {% block header %} {% endblock %} {% block content %}
<div id="loading">
   <br><br><br>
   <img class="center" src="{{url_for('static', filename='Blocks-1s-200px.svg')}}">
   <h5 class="center-align">Please wait, Video is uploading...</h5>
</div>
<h3 id="title">{% block title %}Upload Video{% endblock %}</h3>
<div id="content" class="card">
   <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
      <div class="card-content">
         <p class="card-title">Upload video yang akan dideteksi (.mp4)</p>
         <div class="file-field input-field">
            <div class="btn">
               <span>Pilih File Video</span>
               <input id="video-input" type="file" name="video" accept="video/*">
            </div>
            <div class="file-path-wrapper">
               <input class="file-path validate" type="text">
            </div>
         </div>
      </div>
      <div class="card-action">
         <a class="waves-effect waves-light btn orange">
         <input type="submit" value="Upload!" onclick="return validation();">
         </a>
      </div>
   </form>
</div>
{% endblock %}
