{% extends 'base.html' %} {% block navbar %}
<li class="">
    <a href={{ url_for( 'index') }}>
        <i class="material-icons left">home</i>Mulai Prediksi</a>
</li>
{% endblock %} {% block header %} {% endblock %} {% block content %}

<div id="loading">
    <br>
    <br>
    <br>
    <img class="center" src="{{url_for('static', filename='Blocks-1s-200px.svg')}}">
    <h5 class="center-align">Please wait, Server is processing...</h5>
</div>

<h3 id="title">{% block title %}Video diupload - {{ video }} {% endblock %}</h3>

<div id="content" class="card">
    <form method="POST" action="">
        <div class="card-content">
          <video class="responsive-video" controls>
            <source src="/static/{{ video }}" type="video/mp4">
          </video>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn orange">
                <input type="submit" value="Mulai Prediksi" onclick="loading();">
            </a>
            <a href={{ url_for( 'index') }} class="waves-effect waves-light btn">
              Ganti Video
            </a>
        </div>
    </form>
</div>

{% endblock %}
